<!doctype html>
<html class="h-dvh" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Sharma & Co.: Expert GST, Tax Filing & Audit services in Delhi. Book a free 15 min call today."
    />
    <link
      rel="preload"
      as="image"
      href="/images/layered_waves_haikei.avif"
      type="image/avif"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      href="/images/maze-white.avif"
      type="image/avif"
      fetchpriority="high"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&display=swap"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&display=swap"
    />

    <%= favicon_tag "logo.avif" %> <%= javascript_include_tag "menu", defer:
    true %>

    <title>
      <%= "#{(current_page.data.title or yield_content :title)&. + " | "}Sharma
      & Co. – Chartered Accountants, Delhi" %>
    </title>
    <%= stylesheet_link_tag "tailwind" %> <%= yield_content :head %>
  </head>

  <body
    class="bg-textured text-gray-800 font-inter leading-relaxed flex flex-col h-full"
  >
    <%= partial "partials/header" %>

    <div class="flex-auto"><%= yield %></div>

    <%= partial "partials/footer" %>
  </body>
</html>
