<% content_for :title, "Posts tagged \"#{tagname}\"" %>
<section class="max-w-7xl mx-auto px-6 py-32">
  <h1 class="text-3xl font-heading text-primary mb-8">
    Posts tagged “<%= tagname %>”
  </h1>  
  <% if articles.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <% articles.each do |article| %>
      <article class="bg-white rounded-2xl shadow-lg overflow-hidden">         
          <a href="<%= article.url %>" class="block">
            <img
              src="<%= article.data['cover_image'] ? "/.netlify/images?url=#{image_path article.data['cover_image']}&fm=avif" : '/images/default_article_cover.avif' %>" 
              alt="<%= article.title %> cover image"
              class="w-full h-52"
            />
          </a>        

        <div class="p-6"> 
          <h2 class="text-2xl font-heading text-primary mb-2">
            <a href="<%= article.url %>"><%= article.title %></a>
          </h2>
          <time class="text-sm text-secondary" datetime="<%= article.date %>">
            <%= article.date.strftime("%B %d, %Y") %>
          </time>
          <p class="mt-4 text-base"><%= article.summary(100) %></p>
          <a
            class="mt-4 inline-block text-accent hover:underline font-semibold"
            href="<%= article.url %>"
          >
            Read more →
          </a>
        </div>
      </article>
    <% end %>
  </div>
  <% else %>
    <p>No posts found under this tag.</p>
  <% end %>

  <p class="mt-8">
    <a href="/articles" class="text-accent hover:underline">← Back to all articles</a>
  </p>
</section>
